.utilityBar {
    background-color: rgb(150,0,255);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.announcementBar {
    text-align: center;
    letter-spacing: 0.05rem;
    color: aliceblue;
    font-weight: bolder;
    
}

.rightArrowIcon {
    background-color: white;
    color: black;
}